<div class="form-inline">
  <div class="form-group">
    <label for="symbol">Symbol: </label>
    <input #symbol type="text" class="form-control" id="symbol" placeholder="APPL">
  </div>
  <div class="form-group" style="margin-left: 20px;">
    <label for="company">Company: </label>
    <input #company type="text" class="form-control" id="company" placeholder="Apple">
  </div>
  <button class="btn btn-default" (click)="add(symbol.value, company.value); symbol.value=''; company.value=''">Add Stock</button>
</div>
<form>
  <div class="form-group">
    <label>Symbol</label>
    <mat-form-field>
      <input type="text" class="form-control" id="symbol-filter" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let stock of filteredStocks | async"  [value]="stock.getSymbol()" >
          {{stock.getSymbol()}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="count">Count</label>
    <input type="number" class="form-control" id="count">
  </div>
  <button class="btn btn-success" (click)="buyStock(symbol-filter.value, count.value)" id="buyStockBtn">Buy Stock</button>
</form>
<br>
<div class="panel panel-warning" style="max-width: 585px">
  <div class="panel-heading"><h2>Available stocks</h2></div>
  <table class="table table-striped">
    <tr>
      <th>Symbol</th>
      <th>Company</th>
      <th>Price</th>
      <th></th>
    </tr>
    <tr *ngFor="let stock of stocks" >
      <td>{{stock.getSymbol()}}</td>
      <td>{{stock.getCompany()}}</td>
      <td>{{stock.getPrice()}}</td>
      <td>
        <span class="table-remove"><button class="btn btn-danger btn-rounded btn-sm my-0" (click)="remove(stock)"> Remove </button></span>
      </td>
    </tr>
  </table>
</div>
